---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('November 21 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		<h4 style="color:rgb(255, 208, 0)">Moi</h4>
		À propos de moi ? Hum voyons voir... Je m'apelle Gaëtan et j'ai 36 ans. Je suis aussi papa d'un p'tit gars de 7 ans et je suis passioné de:
			<li>Manga</li>
			<li>Jeux vidéo</li>
			<li>Tech</li>
			<li>Cinéma</li>
			<li>Les I.A</li>
		Finalement quand je regarde cette liste, je me dis que je suis le bon gros stéréotype du geek 😆. Je fais aussi des streams sur <a href="http://www.twitch.tv/gaetancode_">twitch</a> dans lesquels je parle de dev, ou même des mes cours.
	</p>

	<p>
		<h4 style="color:rgba(93, 240, 240, 0.723)">Ma bio</h4>
		<ul>
			<li>1988 Je suis né à Paris, France</li>
			<li>2005 - 2007 : BEP électronique</li>
			<li>2007 - 2024 : Divers boulot que sa soit en CDI ou CDD. Actuellement en CDI.</li>
		</ul>
	</p>
	<p>
		<h4 style="color:rgba(61, 237, 117, 0.781)">Ma formation</h4>	
		En parallèle de mon CDI et de ma vie de famille, je suis actuellement en formation de développeur web fullstack en distanciel (et oui cela fait de grosse journée). Et comme tout bon Dev qui se respecte, je m'aide aussi d'internet et de ses méandres.
	</p>

</Layout>
