---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/"><img src="/media/logoTransparent.png" /></a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About me</HeaderLink>
    </div>
    <div class="social-links">
      <a href="http://twitch.tv/gaetancode_" target="_blank">
        <img src="/media/twitchLogo.svg" alt="" srcset="" /></a
      >
      <a href="https://www.instagram.com/gaetancode_/" target="_blank">
        <img src="/media/instagramLogo.svg" alt="" srcset="" /></a
      >
    </div>
  </nav>
</header>
<style>
  header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0 1em;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  header img {
    width: 30px;
    height: auto;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  h2 img {
    width: 70px;
    height: auto;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
