backend:
  name: git-gateway
  branch: master

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

locale: "fr"

publish_mode: editorial_workflow # Active le workflow éditorial

collections:
  - name: "blog"
    label: "Blog Post"
    folder: "src/content/blog"
    create: true
    slug: "{{day}}-{{month}}-{{year}}-{{slug}}"
    fields:
      - { label: "Titre", name: "title", widget: "string" }
      - {
          label: "Statut",
          name: "status",
          widget: "select",
          options: ["draft", "published"],
          default: "draft",
        }
      - {
          label: "Date de publication",
          name: "pubDate",
          widget: "datetime",
          format: "DD/MM/YYYY",
          date_format: "DD/MM/YYYY",
          time_format: false,
        }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Contenu", name: "body", widget: "markdown" }
      - {
          label: "Image à la une",
          name: "heroImage",
          widget: "image",
          required: false,
        }
